<div class="masonry-item">
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= task.name %>
    </div>
    <div class="panel-body">
      <%= task.content %>
    </div>
  </div>
</div>
