<% case role %>
<% when Settings.role.trainee %>
  <span class="label label-info">
<% when Settings.role.supervisor %>
  <span class="label label-success">
<% when Settings.role.admin %>
  <span class="label label-danger">
<% else %>
  <span class="label label-default">
<% end %>
<%= t "labels.roles.#{role}" %></span>
